name = "vidcom-api"
main = "src/index.ts"
compatibility_date = "2025-01-01"

[[d1_databases]]
binding = "DB"
database_name = "vidcom_dev"
database_id = "00000000-0000-0000-0000-000000000000"

[[r2_buckets]]
binding = "BUCKET"
bucket_name = "vidcom-dev"